body {
	
}

#contenedor{
	float: left;
	width: 90%;
	
}

#cabecera{
	float: left;
}

#contenido{
	float:left;
	clear: both;
}

#menuizq{
	width: 150px;
	float: left;
	border-color: #FF0000;
	border:1px solid #42432d;
	margin: 10px;
}

#inicio{
	float: left;
	border-color: #FF0000;
	border:1px solid #42432d;
	/*margin: 5px;*/
	/*padding: 10px;*/
	width: 100%;
}
li a{
	text-decoration:none;
}
#buscador{
	width: 100%;
	float: left;
}

#usuario{
	width: 100%;
	float: left;
}

.inputBlock{
	display:block;
}

#principal{
	margin: 10px;
	float: left;
	border-color: #FF0000;
	border:1px solid #42432d;
	width:450px;
}

#artPrincipal{
	
}

#artPrincipal #tituloArt{
	text-align: center;
	margin: 5px;
	border-color: #FF0000;
	border:1px solid #42432d;
}

#artPrincipal #cuerpoArt{
	padding: 8px;
	text-align: left;
	margin: 5px;
	border-color: #FF0000;
	border:1px solid #42432d;
}

#ultArticulos{
	border-color: #FF0000;
	border:1px solid #42432d;
	height: 75px;
	padding: 8px;
	margin: 5px;
}

#menuder{
	float: left;
	margin: 10px;
}

#pie{
	float: left;
}
